@page
@model IndexModel
@{
    ViewData["Title"] = "Kontakt";
}

<h1>Kontaktoplysninger for kantinen Æde A/S</h1>

<ul>
    <li>Indehaver: <b>Karen</b></li>
    <li>Email: <b>Kantineæd@gmail.com</b></li>
    <li>Telefonnummer: <b>88 88 88 88</b></li>
</ul>